.cardEdit {
    background-color: #17a2b8;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.cardEdit2 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 0;
}

.prime_btn {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #3c83da;
    padding: 4px 18px !important;
}

.prime_btn:active,
.prime_btn:hover {
    outline: none;
    color: white;
}

.pagination {
    display: inline-block;
}

.pagination p {
    color: black;
    background-color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
}

.pagination p.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
}

.pagination p:hover:not(.active) {
    background-color: #ddd;
}

.RNNXgb {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}

.SDkEP {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.RNNXgb:hover,
.sbfc .RNNXgb {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.pR49Ae {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

.gsfi,
.lst {
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.table {
    background-color: red;
}