.head {
  background: rgb(242, 244, 245);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 60px;
}

.btnedt {
  background: rgb(43, 142, 179);
  border: none;
  height: 50px;
  margin-top: 10px;
}

.btnedt:hover {
  background: rgb(38, 127, 151);
}

/* input[type] {
  border: 1px light;
  background: rgb(242, 244, 245);
} */
/* 
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: white;
  box-shadow: 0 1px 1px white;
  outline: 0 none;
}

input:hover,
input[type]:focus {
  border-color: rgb(66, 63, 63);
} */

.cardEdit {
  border: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.prime_btn {
  /* margin-right: 16px; */
  font-size: 16px;
  font-weight: 600;
  color: #f1f1f1;
  background: #4285f4;
  padding: 8px 16px;
  border: 0;
  transition: 0.3s all ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

.prime_btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.23);
}
