.top {
  background-image: url(../../assets/images/scraping.png);
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.grad {
  background: linear-gradient(
    0deg,
    rgba(39, 90, 122, 0.8) 16.55%,
    rgba(196, 196, 196, 0.2) 99.9%
  );
}

.head {
  background: rgb(242, 244, 245);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 60px;
}

.nav-link {
  font-weight: 700;
}

.btnedt {
  background: rgb(43, 142, 179);
  border: none;
  height: 50px;
  margin-top: 10px;
}

.btnedt:hover {
  background: rgb(38, 127, 151);
}

input[type] {
  border: 1px light;
  background: rgb(242, 244, 245);
}

input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: white;
  box-shadow: 0 1px 1px white;
  outline: 0 none;
}

input:hover,
input[type]:focus {
  border-color: rgb(66, 63, 63);
}

.heading {
  color: white;
  font-weight: 700;
  font-size: 35px;
  margin-top: 140px;
}

.tag {
  color: white;
  font-size: 35px;
}
